body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/background.gif');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    flex-direction: column;
}
@media (prefers-reduced-motion: reduce) {
    body {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/StillBackground.jpg');
        background-color: #000000;
    }
}
#main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}
#glass-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
    width: 200px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    background-color: rgba(253, 253, 253, 0.075);
    margin-top: 75px;
}
#discord-profile-pic {
    height: 65px;
    width: 65px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;     
    flex-shrink: 0;       
    margin-left: 15px;
}
#username-text {
    margin: 10px;
    margin-bottom: 40px;
    color: rgb(176, 176, 176);
    text-shadow: 0 0 10px #ffffff; 

}
#server-tag {
    color: rgb(176, 176, 176);
}
#server-tag-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 40px;
    height: 25px;
    text-align: center;
    backdrop-filter: blur(10px);
    background-color: rgb(26, 26, 26);
    margin-bottom: 24px;
    border: 1px;
    border-style: solid;
}
#discord-server-icon {
    height: 10px;
    width: 10px;
    background-size: cover;
    background-position: center;
    margin-top: 4px;
    margin-right: 2px;
}
#github-icon {
    height: 45px;
    width: 45px;
    background-color: rgb(37, 37, 37);
    border-radius: 50px;
}
.app-icon {
    margin-top: 30px;
    transition: transform 0.2s ease, background-color 0.2s ease;
}
.app-icon:hover {
    transform: scale(1.13);
}
#footer-text {
    color: rgb(180, 179, 179);
    font-size: 10px;
}
